/* css global styles */

.root {
 
    margin: 8px;
    width: '25ch';
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}


header {
  background: linear-gradient(to bottom, #289108 0%, #20630c 100%);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}


.App-body {
  display: auto;
  justify-content: center;
  align-items: center;
  background-color: #22262e;
  min-height: 100vh;
  padding-top: 5%;
}

.App-link {
  color: #61dafb;
}


.App-Status {
  color: rgb(79, 240, 79);
  text-align: center;
  font-size: xx-large;
}

.App-Patner {
  color: white;
  text-align: left;
  margin-left: 8%;
  padding-top: 3%;
 
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  

}

.button:active {
  transform: translateY(4px);
}



.App-footer {
  font-size: 30px;

  background: linear-gradient(to bottom, #3ba71a 0%, #20630c 100%);
  background-size: cover;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: medium;
}

.App-form{
  text-align: center;
  
 
}

.App-form-body {
  display: auto;
  justify-content: center;
  align-items: center;
  background-color: #2e2626;
  min-height: 100vh;
  padding-top: 5%;
}