/* css global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}


header {
  background: linear-gradient(to bottom, #48f713 0%, #30fa07 100%);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
  ;
  background-color: #22262e;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}


.App-Status {
  color: green;
  text-align: center;
  font-size: xx-large;
}

.App-Patner {
  color: white;
  ;
  text-align: left;
  margin-left: 2cm;

}


.App-footer {
  font-size: 30px;

  background: linear-gradient(to bottom, #48f713 0%, #30fa07 100%);
  background-size: cover;
  padding: 30px;
  text-align: center;
  color: white;
}